#httpNowhere-button {
  -moz-binding: url("chrome://http-nowhere/content/httpNowhere-button-binding.xml#httpNowhere-button-binding");
}

#httpNowhere-button > .httpNowhere-button {
  list-style-image: url("chrome://http-nowhere/skin/httpNowhere-button-enabled.png");
}

#httpNowhere-button[status="blocking"] > .httpNowhere-button {
  list-style-image: url("chrome://http-nowhere/skin/httpNowhere-button-blocking.png");
}

#httpNowhere-button[status="disabled"] > .httpNowhere-button {
  list-style-image: url("chrome://http-nowhere/skin/httpNowhere-button-disabled.png");
}

#httpNowhere-button-badge {
  margin: 3px -12px 0 -8px;
  display: block;
  -moz-box-sizing: border-box;
}

#httpNowhere-button-badge-label {
  -moz-box-sizing: border-box;
  font-size: 10px;
  color: #000;
  background-color: yellow;
  border-width: 1px;
  border-style: solid;
  padding: 1px 1px 1px 1px;
  visibility: hidden;
}

#httpNowhere-button:not([badgeLabel=""]) #httpNowhere-button-badge-label {
  visibility: visible;
}
